.product_card {
  position: relative;
  transition: all 0.3s ease-in-out;

  .add_cart {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
     button{
      background-color: black;
      color: white;
     }

  }

  &:hover .add_cart {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);

  }

  .card {
    border: 1px solid #eee;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
     .card-img {
    height: 200px;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
    &:hover .card {
   background-color: antiquewhite;
    box-shadow: 0 15px 15px rgba(216, 11, 11, 0.9);
  }
  }
}

// .card {
//   border: 1px solid lch(94.1% 0.01 296.81 / 0);
//     border-radius: 10px;
//     overflow: hidden;
//     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
//     transition: box-shadow 0.3s ease;
//   // background-color: darkgrey;
//   .card-img {
//     height: 200px;
//     img {
//       height: 100%;
//       width: 100%;
//       object-fit: contain;
//     }
//   }
//     &:hover .card {
//     box-shadow: 0 15px 15px rgba(0, 0, 0, 0.9);
//   }
// }



.prod_title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  max-height: 3em;
  
}

.star {
  color: rgb(252, 181, 0);
}
.ratings {
  display: flex;
  .reviews {
    font-size: 16px;
  }
}

.button_hover {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 5%;
  right: 5%;
  gap: 10px;
  transition: 0.5s, ease-in-out;
  opacity: 1;
}

//new add css

// .product_card {

//   position: relative;
//   transition: all 0.3s ease-in-out;
//     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

//   .add_cart {
//     opacity: 0;
//     visibility: hidden;
//     transform: translateY(10px);
//     transition: all 0.3s ease;
//   }

//   &:hover .add_cart {
//     opacity: 1;
//     visibility: visible;
//     transform: translateY(0);
//   }

//   .card {
//     border: 1px solid #eee;
//     border-radius: 10px;
//     overflow: hidden;
//     transition: box-shadow 0.3s ease;
//     .card-img {
//       height: 300px;
//       img {
//         height: 100%;
//         width: 100%;
//         object-fit: contain;
//       }
//     }
//   }

  

//   .card-img img {
//     width: 100%;
//     height: auto;
//     object-fit: cover;
//   }

//   .button_hover {
//     position: absolute;
//     top: 10px;
//     right: 10px;
//     display: flex;
//     flex-direction: column;
//     gap: 8px;
//   }

//   .star {
//     color: #fbc02d; // gold color for stars
//   }

//   .prod_title {
//     font-size: 1.2rem;
//     font-weight: 600;
//   }
// }
