<!-- <div class="carousel_banner">
  <owl-carousel-o #owlCar [options]="customOptions">
    <ng-container *ngFor="let img of imgArr">
      <ng-template carouselSlide>
        <img [src]="img" alt="product" title="product"  class="carousel-image" />
      
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div> -->
<!-- <div class="carousel_banner">
  <owl-carousel-o #owlCar [options]="customOptions">
    <ng-container *ngFor="let img of imgArr">
      <ng-template carouselSlide>
        <img [src]="img" alt="product" title="product" class="carousel-image" />
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div> -->

<owl-carousel-o  [options]="customOptions"  class="owl-theme">
  <ng-container *ngFor="let img of imgArr">
    <ng-template carouselSlide>
      <img [src]="img" alt="product" title="product" />
    </ng-template>
  </ng-container>
</owl-carousel-o>
