<div class="footer_card">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Exclusive</h1>
        <h2>Subscribe</h2>
        <h3>Get 10% off your first order</h3>
        <div class="email_enter d-flex">
          <input type="text" placeholder="Enter Your Email" />
          <mat-icon color="">send</mat-icon>
        </div>
      </div>
      <div class="col">
        <h1>Support</h1>
        <h2>11 Bijoy sarani, Dhaka, DH 1515, Bangladesh.</h2>
        <h2>{{ "Exlusive@gamil.com" }}</h2>
        <h2>+88015-88888-9999</h2>
      </div>
      <div class="col">
        <h1>Account</h1>
        <h2>My Account</h2>
        <h2>Login / Register</h2>
        <h2>Cart</h2>
        <h2>Wishlist</h2>
        <h2>Shop</h2>
      </div>
      <div class="col">
        <h1>Quick Link</h1>
        <h2>Privacy Policy</h2>
        <h2>Terms Of Use</h2>
        <h2>FAQ</h2>
        <h2>Contact</h2>
      </div>
      <div class="col">
        <h1>Download App</h1>
        <span class="text-muted">Save $5 with App New User Only</span>

        <div class="footer_button d-flex justify-content-between mt-2">
          <div class="qr_button mr-2 h-100">
            <img src="../../../../assets/image/qr-code-2d@2x.png" alt="" />
          </div>
          <div class="link-button">
            <div style="display: flex; flex-direction: column; gap: 10px">
              <!-- Google Play Button -->
              <a href="https://play.google.com/store" target="_blank">
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg"
                  alt="Get it on Google Play"
                  style="height: 40px; width: 100%"
                />
              </a>

              <!-- App Store Button -->
              <a href="https://www.apple.com/app-store/" target="_blank">
                <img
                  src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg"
                  alt="Download on the App Store"
                  style="height: 40px; width: 100%"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="icon">
          <i class="fab fa-facebook fa-2x"></i>
          <i class="fab fa-twitter fa-2x"></i>
          <i class="fab fa-instagram fa-2x"></i>
          <i class="fab fa-linkedin fa-2x"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div class="container-fluid bg-dark w-100">
  <div class="row">
    <div class="col-md-12 text-center p-0">
      <div class="copy_right w-100 py-3">
        <p class="text-muted">© Copyright Rimel 2022. All right reserved</p>
      </div>
    </div>
  </div>
</div>
