<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <div class="banner">
        <img
          src="../../../../assets/image/WhatsApp Image 2025-05-17 at 22.30.08_ab27e492.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="col-md-5 d-flex align-items-center justify-content-center min-vh-100">
  <div class="auth-card w-100" style="max-width: 400px;">

        <div class="signup">
          <ng-container *ngIf="alredyhaveAccount">
            <h1 class="text-center">Create an account</h1>
            <p class="text-center">Enter your details below</p>
            <form [formGroup]="signup" (ngSubmit)="onSignup()">
              <mat-form-field appearance="standard" class="w-100">
                <mat-label for="email">Email</mat-label>
                <input type="text" matInput />
              </mat-form-field>

              <mat-form-field appearance="standard" class="w-100">
                <mat-label for="password">Password</mat-label>
                <input type="text" matInput />
              </mat-form-field>

              <mat-form-field appearance="standard" class="w-100">
                <mat-label for="UserRole">UserRole</mat-label>
                <mat-select>
                  <mat-option value="buyer">Buyer</mat-option>
                  <mat-option value="admin">Admin</mat-option>
                </mat-select>
              </mat-form-field>
              <div class="singupbtn">
                <button mat-raised-button color="warn" class="btn btn-block">
                  Create account
                </button>
                <button mat-raised-button color="Basic" class="btn btn-block">
                  <img
                    src="https://developers.google.com/identity/images/g-logo.png"
                    alt="Google logo"
                    width="20"
                    height="20"
                    style="margin-right: 8px"
                  />
                  Sign in with Google
                </button>
              </div>
              <div class="singupbtn">
                <button mat-raised-button color="warn" class="btn btn-block">
                  Create account
                </button>
                <button mat-raised-button color="Basic" class="btn btn-block">
                  <img
                    src="https://developers.google.com/identity/images/g-logo.png"
                    alt="Google logo"
                    width="20"
                    height="20"
                    style="margin-right: 8px"
                  />
                  Sign in with Google
                </button>
              </div>
            </form>
          </ng-container>
        </div>

        <div class="login">
          <ng-container *ngIf="!alredyhaveAccount">
            <h1 class="text-center">Log in to Exclusive</h1>
            <p class="text-center">Enter your details below</p>
            <form [formGroup]="login" (ngSubmit)="onlogIn()">
              <mat-form-field appearance="standard" class="w-100">
                <mat-label for="email">Email or Phone Number</mat-label>
                <input type="text" matInput />
              </mat-form-field>

              <mat-form-field appearance="standard" class="w-100">
                <mat-label for="password">Password</mat-label>
                <input type="text" matInput />
              </mat-form-field>
              <div class="singupbtn d-flex justify-content-between">
                <button mat-raised-button color="warn" class="btn">
                  Log In
                </button>

                <a href="javascript:;" class="btn btn-link" style="color: red">
                  Forget Password?
                </a>
              </div>
            </form>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="container-fluid">
  <div class="row">
    <!-- Left side image -->
    <div class="col-md-6 d-none d-md-block p-0">
      <img
        src="../../../../assets/image/WhatsApp Image 2025-05-17 at 22.30.08_ab27e492.jpg"
        alt="shopping illustration"
        class="img-fluid h-100 w-100 "
        style="object-fit: cover; padding : 0 0 100px 0;"
      />
    </div>

    <!-- Right side form -->
    <div
      class="col-md-6 d-flex align-items-center justify-content-center p-0 m-0"
    >
      <div class="w-100 px-4" style="max-width: 400px">
        <ng-container *ngIf="!alredyhaveAccount">
          <h1 class="mb-1 font-weight-bold" style="font-size: 2rem">
            Create an account
          </h1>
          <p class="mb-4" style="font-size: 1rem">Enter your details below</p>

          <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
            <mat-form-field appearance="standard" class="w-100">
              <mat-label for="email">Email</mat-label>
              <input type="text" formControlName="email" matInput />
            </mat-form-field>

            <mat-form-field appearance="standard" class="w-100">
              <mat-label for="password">Password</mat-label>
              <input type="text" formControlName="password" matInput />
            </mat-form-field>

            <mat-form-field appearance="standard" class="w-100">
              <mat-label for="UserRole">UserRole</mat-label>
              <mat-select formControlName="userRole">
                <mat-option value="buyer">Buyer</mat-option>
                <mat-option value="admin">Admin</mat-option>
              </mat-select>
            </mat-form-field>

            <button mat-raised-button color="warn" class="btn btn-block mb-3">
              Create Account
            </button>

            <button
              mat-stroked-button
              class="btn btn-block mb-4 d-flex align-items-center justify-content-center"
            >
              <img
                src="https://developers.google.com/identity/images/g-logo.png"
                alt="Google logo"
                width="20"
                height="20"
                class="mr-2"
              />
              Sign up with Google
            </button>
          </form>
        </ng-container>

        <ng-container *ngIf="alredyhaveAccount">
          <h1 class="mb-1" style="font-size: 2rem; font-weight: 600">
            Log in to Exclusive
          </h1>
          <p class="mb-4" style="font-size: 1rem">Enter your details below</p>
          <form [formGroup]="loginForm" (ngSubmit)="onLogIn()">
            <mat-form-field appearance="standard" class="w-100 mb-3">
              <mat-label>Email or Phone Number</mat-label>
              <input matInput formControlName="email" />
            </mat-form-field>

            <mat-form-field appearance="standard" class="w-100 mb-4">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" />
            </mat-form-field>

            <div class="d-flex justify-content-between align-items-center mb-3">
              <button mat-raised-button color="warn" class="btn px-4">
                Log In
              </button>
              <a href="javascript:;" class="text-danger">Forget Password?</a>
            </div>
          </form>
        </ng-container>
        <p class="text-center">
         {{alredyhaveAccount?'Don,t Have Account':' Already have account?'}}
          <a
            href="javascript:;"
            (click)="alredyhaveAccount = !alredyhaveAccount"
            class="text-dark font-weight-bold"
            >{{alredyhaveAccount?'Sign Up':'Log In'}}</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<!-- <mat-divider></mat-divider>
<div class="copy_right py-3">
  <div class="row">
    <div class="col-md-12 text-center">
      <p class="text-muted">Copyright Rimel 2022. All right reserved</p>
    </div>
  </div>
</div> -->
