<div class="best_selling_dash my-3">
  <div class="row">
    <div class="col-md-5">
      <h2>This Month</h2>
      <h1>Best Selling Products</h1>
    </div>
    <div class="col-md-5"></div>
    <div class="col-md-2 d-flex align-items-center">
      <div class="flash-sale-wrapper text-right">
        <button class="nav-btn" (click)="scrollLeft()">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button class="nav-btn" (click)="scrollRight()">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="category-container" #scroller>
    <div class="col-md-3" *ngFor="let product of productArr">
      <app-card [product]="product"></app-card>
    </div>
  </div>
</div>

<mat-divider></mat-divider>
